@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tpk6h3');
  src:  url('fonts/icomoon.eot?tpk6h3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tpk6h3') format('truetype'),
    url('fonts/icomoon.woff?tpk6h3') format('woff'),
    url('fonts/icomoon.svg?tpk6h3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-access_time:before {
  content: "\e8fe";
}
.icon-main:before {
  content: "\e9bd";
}
